.shortcut-list {
  display: grid;
  gap: 4px;
  max-height: 60vh;
  margin: 12px 0 0;
  overflow: auto;
}

.shortcut-list div {
  display: grid;
  grid-template-columns: 11em 1fr;
  gap: 8px;
}

.shortcut-list dd {
  margin: 0;
}
